.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    padding: 10px;
    text-align: left;
}

.product-image-container {
    position: relative;
    margin-bottom: 15px;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.product-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-button {
    background: white;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}

.discount-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #f8f8f8;
    color: darkred;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
}

.product-name {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-pricing {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    margin-right: 8px;
}

.discount-price,
.normal-price {
    color: #333;
    font-size: 16px;
}